<form [formGroup]="newForm" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Neues Fach hinzufügen</h1>

  <div mat-dialog-content>
    <mat-form-field style="width:100%;">
      <input matInput placeholder="Name" formControlName="name" autocomplete="off">
      <mat-error>Name ist ein Pflichtfeld.</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button [disabled]="!newForm.valid">Hinzufügen</button>
    <button type="button" mat-button (click)="cancel()">Abbrechen</button>
  </div>
</form>

