<div class="sign-in-container">
  <mat-card class="sign-in-form">
    <mat-card-content>
      <form [formGroup]="signInForm" (ngSubmit)="login()">

        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" autocomplete="off">
          <mat-error>{{getErrorMessage(signInForm.get('email'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Passwort</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="off">
          <mat-error>{{getErrorMessage(signInForm.get('password'))}}</mat-error>
        </mat-form-field>

        <button mat-button class="w-100" [disabled]="signInForm.invalid">
          Anmelden
        </button>
        <button mat-button type="button" (click)="register()" class="w-100">
          Registrieren
        </button>
        <button mat-button type="button" (click)="resetPassword()" class="w-100">
          Passwort zurücksetzen
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>