<mat-list>
  <mat-list-item *ngFor="let compartment of compartments | async">
    <p matLine>
      {{compartment.name}}
    </p>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editCompartment(compartment)">
        <mat-icon>edit</mat-icon>
        <span>Bearbeiten</span>
      </button>
      <button mat-menu-item (click)="removeCompartment(compartment.key)">
        <mat-icon>delete</mat-icon>
        <span>Löschen</span>
      </button>
    </mat-menu>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<button mat-fab class="floating-fab" (click)="addCompartment()">
  <mat-icon>add</mat-icon>
</button>
