/* You can add global styles to this file, and also import other style files */
@import "theme.scss";

body {
  margin: 0px;
}

.floating-fab {
  position: fixed !important;
  right: 30px;
  bottom: 30px;
}

.floating-fab-secondary {
  position: fixed !important;
  right: 30px;
  bottom: 100px;
}

.w-100 {
  width: 100%;
}

.active {
  background-color: #494949;
  color: #ebebeb !important;
}

.item-secondary {
  font-size: 12px !important;
  color: #a7a5a5;

}

.expired{
  color:red;
}