
<mat-toolbar color="primary" class="filter-container">
  <form [formGroup]="filterForm">

    <mat-form-field class="filter">
      <input type="text" placeholder="Name" matInput formControlName="name" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="filter">
      <mat-select placeholder="Gefrierfach" formControlName="compartmentKey">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let compartment of compartments" [value]="compartment.key">
          {{compartment.name}}

        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-toolbar>

<div class="item-container">
  <loading *ngIf="showLoadingIndicator"></loading>

  <!--<mat-card *ngFor="let item of filteredItems">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip color="accent" selected>Menge: {{item.amount}}</mat-chip>
        <mat-chip color="primary" selected>Fach: {{getCompartment(item.compartmentKey)?.name}}</mat-chip>
        <mat-chip>Eingelagert: {{item.createdDate | date}}</mat-chip>
        <mat-chip>Min. haltbar: {{item.expiryDate | date}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>

    <mat-divider></mat-divider>
  </mat-card>-->

  <mat-list *ngIf="filteredItems && !showLoadingIndicator">
    <mat-list-item *ngFor="let item of filteredItems; trackByKey">
      <div mat-line class="container-justify-content-between">
          <span>
            <ng-container *ngIf="item.amount">{{item.amount}} </ng-container>
            <strong>{{item.name}} </strong>
          </span>
          <span>{{getCompartment(item.compartmentKey)?.name}}</span>
      </div>
      <p mat-line>
        <span>Eingelagert: {{item.createdDate | date}}</span>
      </p>
      <p mat-line>
        Min. haltbar: {{item.expiryDate | date}}
      </p>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editItem(item)">
          <mat-icon>edit</mat-icon>
          <span>Bearbeiten</span>
        </button>
        <button mat-menu-item (click)="removeItem(item.key)">
          <mat-icon>delete</mat-icon>
          <span>Löschen</span>
        </button>
      </mat-menu>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span *ngIf="filteredItems?.length == 0">Keine Elemente gefunden.</span>
    </mat-list-item>
  </mat-list>
</div>

<button mat-fab class="floating-fab" (click)="addItem()">
  <mat-icon>add</mat-icon>
</button>
