
<mat-toolbar color="primary" class="filter-container">
  <form [formGroup]="filterForm">

    <mat-form-field class="filter">
      <input type="text" placeholder="Name" matInput formControlName="name" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="filter">
      <mat-select placeholder="Gefrierfach" formControlName="compartmentKey">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let compartment of compartments" [value]="compartment.key">
          {{compartment.name}}

        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-toolbar>

<div class="item-container">
  <loading *ngIf="showLoadingIndicator"></loading>

  <mat-list *ngIf="filteredItems && !showLoadingIndicator">
    <mat-list-item *ngFor="let item of filteredItems; trackByKey" [class.active]="item.selected" (click)="selectItem(item)">
      <div mat-line class="item-property-container">
        <div class="left-item">
          <small>
          <strong>{{item.name}} </strong>
          <ng-container *ngIf="item.amount">{{item.amount}} </ng-container>
        </small>
        </div>
        <span>
        <small>{{getCompartment(item.compartmentKey)?.name}}</small>
      </span>
      </div>
      <div mat-line class="item-property-container item-secondary">
        <div class="left-item" *ngIf="item.createdDate"  [ngClass]="getDateAddedStyle(item.createdDate)">
          Eingelagert: {{item.createdDate | date}}
        </div>
        <span *ngIf="item.expiryDate" [ngClass]="getDateExpirationStyle(item.expiryDate)">Min. haltbar: {{item.expiryDate | date}}</span>
      </div>

      <mat-divider></mat-divider>
    </mat-list-item>
    <!-- empty -->
    <mat-list-item *ngIf="filteredItems?.length == 0">
      Keine Elemente gefunden.
    </mat-list-item>
  </mat-list>
</div>

<ng-container *ngIf="hasSelected">
  <button mat-fab color="error" class="floating-fab-secondary"
          (click)="removeItem(selectedItem)">
    <mat-icon>delete</mat-icon>
  </button>

  <button mat-fab color="primary" class="floating-fab" 
          (click)="editItem(selectedItem)">
    <mat-icon>edit</mat-icon>
  </button>
</ng-container>

<button mat-fab color="primary" class="floating-fab" (click)="addItem()" *ngIf="!hasSelected">
  <mat-icon>add</mat-icon>
</button>
