.filter-container {
  font-size: 14.5px;
  position: fixed;
  z-index: 1000;
}

.item-container {
  margin-top: 64px;
}

.filter{
  width: 110px;
  margin: 10px;
}

.container-justify-content-between {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
}
